body {
    overflow-x: hidden;

}

/* NAVBAR */

.navbar-brand {
    font-size: 1.5rem;

}

@media (min-width: 1400px) {
    .nav-item {
        margin-left: 20px;
        font-size: 1.1rem;
    }

    .first-item {
        margin-left: 80px;
    }

    .nav-item :hover {
        font-size: 1.15rem;
    }

}

.second-btn {
    width: 88px;
}

.offcanvas {
    background-color: #DFDFDE;
}

.offcanvas-title {
    color: hsl(10, 9%, 39%);
}

.hero-section {
    height: 714px;
    width: auto;
    margin-top: 3%;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;


}

.hero-text {

    padding-right: 55%;
    padding-top: 350px;
    margin-bottom: 105px;
    width: 100%;

}

.title-text {
    font-size: 3rem;
    line-height: 4rem;
}

@media (max-width: 1400px) {
    .title-text {
        font-size: 2rem;
        line-height: 2.5rem;
        padding-left: 5%;
    }
}


/* ABOUT US  */
#aboutus {
    height: 575px;
    background: #F7F5F2;
    font-family: 'Montserrat', sans-serif;
}

.aboutusheading {
    padding-top: 9.5%;
    text-align: center;
    font-size: 4.5rem;
}

.aboutus-text {
    text-align: center;
    padding-left: 10%;
    font-size: 1.5rem;
    padding-right: 10%;
    padding-top: 3%;
    line-height: 2.5rem;
    padding-bottom: 3%;
    color: rgb(149, 147, 147);
}

@media (max-width: 769px) {
    #aboutus {
        height: 550px;
    }

    .aboutusheading {
        padding-top: 25%;
    }

    .aboutus-text {
        font-size: 1.3rem;
        padding-top: 5%;
        line-height: 2.6rem;
        padding-bottom: 50%;
    }

}

@media (max-width:768px) and (min-width:540px) {
    #aboutus {
        height: 500px;
    }

    .aboutusheading {
        padding-top: 15%;
    }
}


/* COURSES */
#courses {

    background-color: #DFDFDE;
    height: 900px;
    padding-left: 5%;
    padding-right: 5%;



}

.card-text {
    color: grey;
}

.courses-title {
    font-family: 'Montserrat', sans-serif;
    padding-top: 5%;
    text-align: center;
    font-size: 4rem;
}

.courses-course {
    color: red;
}

.courses-card {
    margin-top: 7%;

}

.courses-img {
    height: 200px;
    width: auto;
}

.card-body {
    padding-top: 7%;
    padding-bottom: 10%;
    color: #000;

}

.card-title {
    font-size: 2rem;
}

@media (max-width:769px) {
    #courses {
        height: 2400px;
    }

    .courses-title {
        padding-top: 50px;
        font-size: 2rem;

    }


    .card {
        width: 85%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 40px;
        margin-bottom: 25px;
    }

}

@media (max-width:768px) and (min-width:540px) {
    #courses {
        height: 2400px;
    }

    .courses-title {
        font-size: 3.5rem;
    }

    .card {
        width: 450px;
        margin-left: 100px;
        margin-top: 45px;
        margin-bottom: 25px;
    }
}


#signup {

    height: 850px;
    background-color: #f61c56;
}

.signup-heading {
    padding-top: 15%;
    padding-left: 10%;
    color: #fff;
    font-size: 4rem;
}

.form {
    background-color: #fff;
    margin-left: 10%;
    padding: 60px;
    margin-top: 10%;
    margin-right: 10%;
    padding-bottom: 10%;

}

input {
    margin: 20px auto;
    display: block;
}

.signup-form input[type="text"] {
    height: 57px;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 27px;
    float: left;
    border: none;
    font-size: 14px;
    font-weight: 500;
    background: #edf4f6;
}

.signup-form input[type="email"] {
    height: 57px;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 27px;
    float: left;
    border: none;
    font-size: 14px;
    font-weight: 500;
    background: #edf4f6;
}

.signup-form input[type="password"] {
    height: 57px;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 27px;
    float: left;
    border: none;
    font-size: 14px;
    font-weight: 500;
    background: #edf4f6;
}

.signup-btn {

    height: 40px;
    margin-top: 20px;
    width: 200px;
}

.signup-image {
    width: 850px;
    height: 850px;
}

/* TEAM */

#ourteam {
    background-color: #F7F5F2;
    height: 850px;
    font-family: 'Montserrat', sans-serif;
}

.team-heading {
    text-align: center;
    padding-top: 5%;
    font-size: 5rem;
}

.team-card {
    margin-left: 250px;
    margin-top: 5%;
    margin-right: 200px;
    width: 1000px;
    background-color: #8D8DAA;
    padding: 3%
}

.rounded-circle {
    margin-top: 10%;
}

.card-body {
    padding-left: 10%;

}

.card-titles {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #DFDFDE;

}

.card-texts {
    font-size: 1.2rem;
    line-height: 2rem;
    color: rgb(240, 216, 216);

}

@media (max-width:480px) and (min-width:350px) {
    #ourteam {
        height: 1050px;

    }

    .team-heading {
        padding-top: 50px;
        font-size: 4rem;
    }

    .team-card {
        margin-top: 15%;
        margin-left: 5%;
        margin-right: 5%;
        width: 85%;
    }

    .rounded-circle {
        width: 200px;
        height: 200px;
        margin-left: 85px;
    }
}

@media (max-width:768px) and (min-width:540px) {
    #ourteam {
        height: 950px;
    }

    .team-heading {
        font-size: 4.5rem;
    }

    .team-card {
        margin-top: 10%;
        margin-left: 100px;
        margin-right: 100px;
        width: 550px;

    }

    .rounded-circle {
        width: 200px;
        height: 200px;
        margin-left: 150px;
    }
}

/* FOOTER */

#footer {
    font-family: 'Ubuntu', sans-serif;
    height: 450px;
    background-color: #DFDFDE;
    padding: 5%;
}

.contact-info {
    padding-top: 40px;

}

.mobile,
.email {
    text-decoration: none;
    color: #000;

}

.contact-mobile {
    margin-top: 1%;
}

.contact-email {
    margin-bottom: 3%;

}

.contact-add {
    color: grey;
}

.icon {
    padding-right: 1%;
    color: #8D8DAA;

}

.icons {
    padding-bottom: 30px;
}

.icon:hover {
    font-size: 1.2rem;

}

.icon1:hover {
    color: rgb(45, 45, 171);

}

.icon2:hover {
    color: rgb(233, 80, 106);

}

.icon3:hover {
    color: rgb(219, 23, 23);

}

.icon4:hover {
    color: rgb(32, 136, 221);
}

footer {
    text-align: center;
    padding-top: 10px;
    background-color: #8D8DAA;
    overflow-y: hidden;
}

.footer-heading {
    font-size: 4rem;
    padding-bottom: 10px;
    color: rgb(43, 42, 42);
}

@media (max-width:769px) {
    #footer {
        height: 540px;
    }

    .footer-image {
        height: 200px;
    }

    .contact-info {
        padding-top: 30px;
    }

    footer {
        height: 40px;
    }
}